<div id= "navbar-flex">
  <div id="left-side">
    <a class="navbar-brand-logo" href="<%= posts_path %>">Blog On Rails</a>
  </div>
      <nav class= "right-side">

        <a class="nav-link-home" href="/">Home </a>
        <a class="nav-link-create" href="/posts/new", method: :create>New Post</a>
      </nav>
</div>