<div id= "navbar-flex">
  <nav id="left-side">
    <a class="navbar-brand-logo" href="<%= posts_path %>">Blog On Rails</a>
  </nav>
    <nav class= "right-side">
    <% if user_signed_in? %>
      <p>Hi <% current_user %> </p> 
    <% end %>
      <a class="nav-link-home" href="/">Home </a>
      <a class="nav-link-create" href="/posts/new", method: :create>New Post</a>
      <a class="nav-link-home" href="/users/new", method: :create>New User </a>
    </nav>
</div>
